<main class="content">
    {{> header this}}


    <section class="main-content">
            {{> aside this}}
            <section class="tasks">
                {{> toDo this}}
                {{> tasks this}}
                {{> checked this}}
            </section>
            
    </section>


</main>